### Criando Bando de dados SQLite

In [1]:
# Remove o arquivo do banco de dados (caso exista)

import os

os.remove('escola.db') if os.path.exists('escola.db') else None

In [2]:
import sqlite3

In [3]:
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
# Criando um cursor
# O cursor permite percorrer todos os registros de um banco de dados
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
sql_create = 'CREATE TABLE cursos'\
'(id interger primary key, '\
'titulo varchar(100),  '\
'categoria varchar(140))'

In [8]:
cur.execute(sql_create)

In [9]:
sql_insert = 'insert into cursos values(?, ?, ?)'

In [10]:
rec_insert = [(1000, 'Ciência de Dados', 'Data Science'),
             (1001, 'Big Data Fundamentos', 'Big Data'),
             (1002, 'Python Fundamentos', 'Analise de Dados'),]

In [11]:
for rec in rec_insert:
    con.execute(sql_insert, rec)

In [12]:
con.commit()

In [13]:
select_sql = 'select * from cursos'

In [14]:
cur.execute(select_sql)
dados = cur.fetchall()

In [16]:
for l in dados:
    print(l)

(1000, 'Ciência de Dados', 'Data Science')
(1001, 'Big Data Fundamentos', 'Big Data')
(1002, 'Python Fundamentos', 'Analise de Dados')

In [20]:
# Incluindo mais registros
rec_insert = [(1003, 'Gestao de dados com MongoDB', 'Big Data'),
             (1004, 'R Fundamentos', 'Analise de Dados')]

In [18]:
for rec in rec_insert:
    con.execute(sql_insert, rec)

In [19]:
con.commit()

In [21]:
cur.execute(select_sql)
dados = cur.fetchall()

In [22]:
for l in dados:
    print(l)

(1000, 'Ciência de Dados', 'Data Science')
(1001, 'Big Data Fundamentos', 'Big Data')
(1002, 'Python Fundamentos', 'Analise de Dados')
(1003, 'Gestao de dados com MongoDB', 'Big Data')
(1004, 'R Fundamentos', 'Analise de Dados')

In [23]:
con.close()